<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Past Meals
	{{> navbar-hack}}

	<div class="container">
		
		<table class="table" sortable="sortable">
			<thead>
				<tr>
					<th>Date</th>
					<th>Meal</th>
					<th>Nutrition</th>
					<!-- <th>Totals</th> -->
				</tr>
			</thead>
			
			<tbody>
				<!-- any other <each> instances to "note"? -->
				{{#each users}}
					{{#if selected}}
						{{#each meals}}
							<tr>
								<td>{{date}}<br/><img src="{{pic}}" class="img-responsive img-rounded" width="60" height="60"></td>
								<td>
									<u>{{time}}</u>
									<br/> <b>{{servings1}} x</b> {{food1}}
									{{#if food2}}
									<br/> {{servings2}} x {{food2}}
									{{/if}}
									{{#if food3}}
									<br/> {{servings3}} x {{food3}}
									{{/if}}
									{{#if food4}}
									<br/> {{servings4}} x {{food4}}
									{{/if}}
								</td>

								<!-- TODO: fix width (doesn't seem to work well) -->
								<td class="nutrient" id="{{date}}"> 
									<script> </script>
									<!-- $.get("/ndata/"+f, showInfo);  -->
									{{food1}}
									
									<!-- data["dishes"][0]["menu"][i]["name"] == req.params.id-->
									Calories: {{calories}} <br>
									Total Fat: {{total_fat}} <br>
									Protein: {{protein}}
								</td>
								
								<!-- TODO: source these from another JSON -->
								<!--
								<td>Calories: {{calories}} <br>
									Total Fat: {{total_fat}} <br>
									Protein: {{protein}}
								</td> -->
								
							</tr>
						{{/each}}
					{{/if}}
				{{/each}}
			</tbody>
		</table>

	</div>

	{{> icon-panel}}

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script src="js/history.js"></script>
	<script>
    	document.getElementById("history-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	document.getElementById("history-link").setAttribute("href","#");
	</script>
</body>
</html>
