<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Previous Meals
	{{> navbar-hack}}

	<div class="container">
		
		<table class="table">
			<thead>
				<tr>
					<th>Day</th>
					<th>Meal</th>
					<th>Picture</th>
					<th>Totals</th>
				</tr>
			</thead>
			
			<tbody>
				{{#each meals}}
					<tr>
						<td style="width:20px;"> {{date}} </td>
						<td style="width:25px;"> {{food1}} </td>

						<!-- TODO: fix width (doesn't seem to work well) -->
						<td style="width:30px;">
							<img src="{{pic}}" class="img-responsive img-rounded">
						</td>
						
						<!-- TODO: source these from another JSON -->
						<!--
						<td>Calories: {{calories}} <br>
							Total Fat: {{total_fat}} <br>
							Protein: {{protein}}
						</td> -->
						
					</tr>
				{{/each}}
			</tbody>
		</table>

	</div>

	{{> icon-panel}}

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
    	document.getElementById("history-iconbar").setAttribute("class","btn btn-secondary navbar-btn");
    	document.getElementById("history-link").setAttribute("href","#");
	</script>
</body>
</html>
