<!-- next: push, no popup if err, sessions -->

<!doctype html>

<html>
<head>
	<!-- < Google Analytics Content Experiment code >
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='117778876-1',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	< End of Google Analytics Content Experiment code > -->

	<title>Nutravisor</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
</head>

<body>
	<!-- enter the page title between the partials -->
	{{> navbar}}
		<!-- voice input icon in a badge -->
		<!-- <span class="badge" data-toggle="modal"
					data-target="#popup" style="margin-right:5px;">
			<img src="http://uxrepo.com/download.php?img=static/icon-sets/google-material/svg/android-mic.svg"
					class="img-responsive" style="width:10px;">
		</span> -->

		Enter a Meal
	{{> navbar-hack}}

	<div class="container" align="center" style="margin-top:-6px;">

		<br/>

		<!-- make it flash... -->
		<div id="corrections"></div>

		<!-- <div class="alert alert-warning fade in"> <todo: check fade in>
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			
			<strong>Check out</strong> foods
			<br class="show-small"/> <note this>
			and <strong>log what you eat</strong>!
		</div> -->

		<form id="addMealForm" role="form" method="get" action="/history" class="form-group">
			<!-- make pic clickable to upload "new" image -->
			<div align="left">
				<div id="1" style='margin-bottom:10px'>
					<div class="input-group">
						<span class="input-group-addon" data-toggle="modal" data-target="#popup"> <!-- todo: localize all resources -->
							<img src="http://uxrepo.com/download.php?img=static/icon-sets/google-material/svg/android-mic.svg"
									style="width:11px; display:inline;">
						</span>
						<label class="control-label sr-only" for="abcxyz">Food Item 1</label>
						<input class="foods1 form-control" type="text" placeholder="Food Item" id="abcxyz"
								name="food1" style="width:126px; display:inline;">
						<input type="number" placeholder="Servings" id="servings1" class="form-control"
								name="servings1" min="1" style="width:100px; display:inline; margin-right:5px;" onclick="explain()">
						<input name="img" value="" id="img-store" style="display:none;"> <!-- todo: store state for explanation -->
						{{#if alt}}
							<span class="glyphicon glyphicon-question-sign" style="color:orange; font-size:21px;"
									data-toggle="modal" data-target="#quaint" onclick="ga('send','event','servings-explanation','click'); found()"></span>
						{{else}}
							<span class="glyphicon glyphicon-plus" onclick="more()"
									style="color:gray; font-size:20px;"></span>
						{{/if}}
					</div>

					<div id="2" style="display:none;"></div>
				</div>

				{{#if alt}} <!-- directly negate, possibly? -->
					<span id="minus-button" style="color:gray; font-size:21px; display:none;"
							class="glyphicon glyphicon-minus" onclick="less()"></span>
					<span class="glyphicon glyphicon-plus" onclick="more()"
							style="color:gray; font-size:21px; margin-bottom:10px;"></span>

				<br/>
				{{/if}}

				<div id="temp" style="display:none"></div>
				<div id="stat" style="display:none; margin-top:10px; margin-bottom:-10px;">
					<div class="alert alert-info alert-dismissable" role="alert" style="border:0px">
						<button type="button" class="close" onclick="(function(e) {
								$('#stat').hide(); $('#temp').attr('style', 'margin-top:10px;'); })(event)">
							<span>&times;</span></button>
						<div id="overlay" style="margin-bottom:-15px; margin-right:-20px;">
							<h4 align="left">
								<!-- dynamic title. ^ no overlay now -->
								Nutritional Information
								<!-- <span id="reset" class="glyphicon glyphicon-ban-circle"
										style="color:black; margin-left:23px;" onclick="reset()"></span> -->
							</h4>
							
							<div class="progress" style="margin-bottom:10px;"> <span id="outside-calories" style="margin-left:5px;">calories</span>
								<div id="calories-done" class="progress-bar progress-bar-success" style="width:0%; min-width:2em;">0%</div>
								<!-- max-width to compensate -->
								<div id="calories" class="progress-bar progress-bar-warning" style="width: 0%; min-width:2em;">0%</div>
							</div>
							
							<div class="progress" style="margin-bottom:10px;"> <span id="outside-fat" style="margin-left:5px;">total fat</span>
								<div id="fat-done" class="progress-bar progress-bar-success" style="width:0%; min-width:2em;">0%</div>
								<div id="fat" class="progress-bar progress-bar-warning" style="width: 0%; min-width:2em;">0%</div>
							</div>
							
							<div class="progress" style="margin-bottom:10px;"> <span id="outside-protein" style="margin-left:5px;">protein</span>
								<div id="protein-done" class="progress-bar progress-bar-success" style="width:0%; min-width:2em;">0%</div>
								<div id="protein" class="progress-bar progress-bar-warning" style="width: 0%; min-width:2em;">0%</div>
							</div>
							
							<div class="progress" style="margin-bottom:25px;"> <span id="outside-fiber" style="margin-left:5px;">fiber</span>
								<div id="fiber-done" class="progress-bar progress-bar-success" style="width:0%; min-width:2em;">0%</div>
								<div id="fiber" class="progress-bar progress-bar-warning" style="width: 0%; min-width:2em;">0%</div>
							</div>
						</div>
						<div color="black" style="margin-right:-20px" align="center">
							<span style="color:green; background-color:green;">ux</span> fulfilled requirements
							<span style="color:orange; background-color:orange;">ux</span> current meal
						</div>
					</div>

					{{#if alt}}
						<button type="button" class="btn btn-primary btn-lg add-meal-button"
								data-toggle="modal" onClick="update()" style="background:black; border:0px;">Add Meal</button>
					{{/if}}
				</div>

				<!-- todo: Date of Meal -->
				<input type="text" id="datepicker" placeholder="Today" class="form-control"
						name="date" style="width:120px; display:inline; margin-right:5px;" onclick="this.value='';">
				
				<!-- Any better/on Android? -->
				<!-- <div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Dropdown
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
						<li><a href="#">Regular link</a></li>
						<li class="disabled"><a href="#">Disabled link</a></li>
						<li><a href="#">Another link</a></li>
					</ul>
				</div> -->
				<select id="mealtype" name="t" class="form-control" style="width:120px; display:inline;">
					<option value="Breakfast" selected>Breakfast</option>
					<option value="Brunch">Brunch</option>
					<option value="Lunch">Lunch</option>
					<option value="Dinner">Dinner</option>
					<option value="Snack">Snack</option>
				</select>

				<div style="margin-top:10px;"></div>
				
				<button id="take-a-picture" class="btn btn-primary" style="width:120px; background:white; border-color:lightblue; color:gray; text-shadow:none; margin-right:5px;"
						onclick="(function(e) { e.preventDefault();
								$('#take-a-picture').hide();
								$('#camera-button').fadeIn();
								initCamera();
							})(event)">
						Take a Picture
				</button>

				<button type="button" style="display:none; background:lightgray; margin-right:5px;"
						data-toggle="modal" onClick="update()" class="btn add-meal-button">
					Add Meal
				</button>

				<div id="camera" class="profile" align="left" style="display:inline;">
					<!-- stretch goal: onclick prompt to change image -->
					{{#if alt}}
					{{else}}
						<button id="camera-button" class="btn" style="width:180px; display:none;"
								onclick="(function(e) { e.preventDefault(); $('#photo-canvas').show(); })(event)">
							Click snapshot of Meal
						</button>
					{{/if}}
					<!-- some indication that this will be uploaded, stretch goal: square images -->
					<canvas id="photo-canvas" style="display:none; margin-top:10px;"></canvas>
					<video autoplay id="live-video" style="border:dotted lightgray; margin-top:10px;"></video> <!-- glyph poster -->
					<!-- dismiss option -->
				</div>

				<!-- <button type="button" style="display:none; background:lightgray; margin-top:5px;"
						data-toggle="modal" onClick="update()" class="btn add-meal-button">
					Add Meal
				</button> -->
			</div>
			
			<!-- todo: fix move to position of camera button -->

			<div class="modal fade" id="popup-warn" {{> popup}}
				Warning
					</h4> </div> <div class="modal-body">
				<b class="list"></b>
				<!-- <br/> -->
				<br/><b>is not very balanced, nutritionally.</b>
				<br/><br/>
				Are you sure you want to add it?
				<br/><br/>
				<i>PS</i>: Try reducing the number of servings or having
				a similar, but healthier variant of the dish.
					</div> <div class="modal-footer">
				<button type="button" data-dismiss="modal" onclick="dismissed_without_buttons=false; ga('send','event','choice','click','something-else')"
						class="btn {{#if alt}}btn-primary{{else}}btn-default{{/if}}">
					Choose something else
				</button>
				<input type="submit" id="submitBtn" value="Add anyway" onclick="dismissed_without_buttons=false; ga('send','event','choice','click','add-anyway')"
						class="btn {{#if alt}}btn-default{{else}}btn-primary{{/if}}">
				</input>
			</div></div></div></div>

			<div class="modal fade" id="popup-confirm" {{> popup}}
				Confirmation
					</h4> </div> <div class="modal-body">
				Good choice! This meal, comprising of
				<br/><b class="list"></b>
				<br/>is pretty balanced in terms of nutrition.
				<br/><br/>
				Go ahead and log this meal?
					</div> <div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					Change something
				</button>
				<input type="submit" class="btn btn-default"
						id="submitBtn" value="Log this meal">
				</input>
			</div></div></div></div>
		</form>

		<!-- <input id="quantity" style="width:25px" maxlength="2" placeholder="x">
		<h5 style="display:inline;"> servings of </h5>
		<input id="tags" placeholder="food item"> -->

		<!-- The Original Fish Taco
		{{dishes.1.menu.0.name}} -->

		<div id="data"></div>

		<!-- <h5 style="display:inline;">On </h5>
		<h5 style="display:inline;"> for </h5> -->

		<!-- code for various popups follows; it may be moved anywhere (maybe) -->

		<!-- todo: say back and forth -->
		<div class="modal fade" id="popup" {{> popup}}
			Wizard of Oz
				</h4> </div> <div class="modal-body" style="margin-bottom:-10px;">
			Imagine a <i>conversation</i> with your phone:
			<p style="margin-bottom:15px;"></p>
			Phone: <b>What are you eating?</b>
			<br/>
			You: I'll probably have two servings of Teriyaki Chicken.
			<br/><br/>
			Phone: <b>It's very heavy on protein: try making it one serving.
			Otherwise, you may choose a healthier <!-- check if space is necessary -->
					alternative, such as Potato Chicken.</b>
			<br/>
			You: Just add it anyway.
			<br/><br/>
			Phone: <b>Is this your lunch today?</b>
			<br/>
			You: Yes.
			<br/><br/>
			<b>Your lunch has been input. <br/> Enjoy your meal!</b>
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

		<div class="modal fade" id="quaint" {{> popup}}
			What is a serving?
				</h4> </div> <div class="modal-body">
			It corresponds to <b>how much food a restaurant
					serves you in a "regular" meals</b>.
			<br/><br/>
			For liquids, <i>1 serving = a small drink</i>
					(2 servings being a medium drink and so on).
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

		<div class="modal fade" id="soon" {{> popup}}
			Coming soon...
				</h4> </div> <div class="modal-body">
			You will be able to upload an image (or click one).
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

	</div>

	<br/> <!-- wth? -->

	{{> icon-panel}}

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="js/camera.js"></script>
	<script src="js/nutrition-info.js"></script>
	<script>
		var line3 = '\nYou may press the question symbol to see this information again.';
		{{#if alt}} line3 = ""; {{/if}}
	</script>
	<script src="js/servings.js"></script>
	<!-- todo: is this "good" practice to separate out scripts? -->
	<script src="js/mobilecheck.js"></script>
	<script src="js/common.js"></script>
	<script>
		var dismissed_without_buttons = true;
		$('#popup-warn').on('hidden.bs.modal', function () {
			if (dismissed_without_buttons)
				ga('send','event','choice','dismiss','neither-button');
		})

		$("#datepicker").attr("value", today());
		window.onload = mobilecheck;
		if (screen.width > 320) // check if it works fine on actual phones
			$("#reset").attr("style", "color:black; margin-left:"+(23 + screen.width-320)+"px;");

		var availableFoods=["Chow Mein", "Chow Fun", "Fried Rice", "Brown Steamed Rice", "White Steamed Rice", "Mixed Vegetables", "Country Style Bean Curd", "Eggplant Tofu", "Hot Szechuan Tofu", "Black Pepper Chicken", "Kung Pao Chicken", "Grilled Teriyaki Chicken", "Grilled Asian Chicken", "Teriyaki Chicken", "Asian Chicken", "Mushroom Chicken", "Orange Chicken", "Potato Chicken", "Firecracker Chicken Breast", "String Bean Chicken Breast", "SweetFire Chicken Breast", "Sweet & Sour Chicken Breast", "Beijing Beef", "Broccoli Beef", "Shanghai Angus Steak", "Crispy Shrimp", "Honey Walnut Shrimp", "Golden Treasure Shrimp", "Steamed Ginger Fish", "Chicken Egg Roll", "Chicken Potsticker", "Cream Cheese Rangoon", "Vegetable Spring Roll", "Hot & Sour Soup", "Teriyaki Sauce", "Sweet & Sour Sauce", "Chili Sauce", "Soy Sauce", "Potsticker Sauce", "Fortune Cookies", "Chocolate Chip Chunk Cookie", "Pepsi", "Diet Pepsi", "Mountain Dew", "Dr. Pepper", "Mug Root Beer", "Sierra Mist", "Lipton No Calorie Brisk Peach", "Lipton Brisk Raspberry", "Sobe Lean", "Tropicana Fruit Punch", "Tropicana Lemonade", "Tropicana Pink Lemonade", "The Original Fish Taco", "The Coastal Trio", "Fish Taco Especial", "Smoky Oaxacan Shrimp Two Taco Plate", "Surf & Turf Two Taco Plate", "Salsa Verde Shrimp Taco", "Regal Springs Tilapia Taco", "Grilled Gourmet Taco with Shrimp", "Pacific Mahi Mahi Taco", "Atlantic Salmon Taco", "Grilled Shrimp & Bacon Burrito", "Smoky Oaxacan Shrimp Burrito", "Beer-battered Fish Burrito", "Langostino Lobster Burrito", "Cabo Plate", "Pacific Mahi Mahi Burrito", "Classic Grilled Shrimp Burrito", "Ancho Citrus Shrimp Burrito", "Atlantic Salmon Burrito", "Regal Springs Tilapia Burrito", "Chipotle Ranch Salad", "Chopped Salad", "Balsamic & Roasted Veggie Salad", "Chipotle Orange Salad", "California Bowl", "Classic Steak Taco", "Classic Chicken Taco", "Grilled Steak Street Tacos", "Burrito Especial with Grilled Steak", "Burrito Especial with Grilled Chicken", "Chicken Tortilla Soup", "H-mex Burrito with Chicken", "Grilled Chicken Street Tacos", "Baja Grill Burrito with Chicken", "Grilled Gourmet Taco with Steak", "Grilled Gourmet Taco with Chicken", "Baja Grill Burrito with Grilled Steak", "Burrito Especial with Veggies", "Bean & Cheese Burrito", "Grilled Gourmet Taco with Veggies", "Cheese Enchilada Plate with Fire-roasted Sauce", "Shrimp Enchilada Plate with Verde Sauce", "Chicken Enchilada Plate with Fire-roasted Sauce", "Langostino Lobster Enchilada Plate", "Cheese Nachos", "Chicken Nachos", "Cheese Quesadilla", "Chicken Quesadilla", "Kids Original Fish Taco without Salsa", "Kids Chicken Taco", "Kids Chicken Bites", "Kids Chicken Taquitos", "Kids Bean & Cheese Burrito", "Kids Chicken Quesadilla", "Kids Cheese Quesadilla", "Large Side of Citrus Rice", "Large Side of Mexican Rice", "Large Side of Black Beans", "Large Side of No-fried Pinto Beans", "Large Side of Tortilla Chips", "Regular Side of Citrus Rice", "Regular Side of Mexican Rice", "Regular Side of Black Beans", "Regular Side of No-fried Pinto Beans", "Regular Side of Tortilla Chips"];
		$("#datepicker").datepicker();
		$(".foods1").autocomplete({source: availableFoods});
		$(".foods1").on("autocompletechange", function() { info("autocomplete change"); });
		$(".foods1").change(function() { window.alert("Please choose a matching food from the options presented."); }); /*todo*/
		$("#servings1").change(function() { info("servings change", document.forms["addMealForm"]["servings1"].value); });

		function update() {
			var f = document.forms["addMealForm"]["food1"].value;
			if (f == "" || f == null) {
				// random_color code courtesy of paulirish.com/2009/random-hex-color-code-snippets/
				var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
				$("#corrections").text("Please enter a main course before trying to add a meal!");
				document.getElementById("corrections").setAttribute("style","color:"+random_color+"; margin-bottom:10px;"); //br2
			} else {
				$(".list").text(f);

				for (i = 1; i <= 4; i++) {
					if (document.forms["addMealForm"]["food"+i] != null) {
						if (document.forms["addMealForm"]["food"+i].value != "")
							var s = document.forms["addMealForm"]["servings"+i].value;
							if (s == "" || s == null) {
								var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
								$("#corrections").text("Please enter the number of servings before trying to add a meal!"); //tags
								document.getElementById("corrections").setAttribute("style","color:"+random_color+"; margin-bottom:10px;");
								break;
							}
					} else break;
				}
			}
		}

		function more() {
			ga('send','event','plus-button','click');
			// if(document.getElementById('2').innerHTML != "")
			// 	if(document.getElementById('3').innerHTML != "")
			// 		if(document.getElementById('4').innerHTML != "") {
			// 			// document.getElementById('5').innerHTML = '<p style="margin-top:5px; margin-bottom:-10px;">Sorry! Limited to 4 food items per meal.</p>';
			// 			// var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
			// 			// document.getElementById('5').setAttribute("style","margin-bottom:10px; color:"+random_color+";");
			// 			// see old plan for missed TODOs such as limiting to shades of red
			// 			return;
			// 		}
			for(i=2; i<=4; i++)
				if(document.getElementById(i).innerHTML == ""){
					if (i == 4) $(".glyphicon-plus").attr("style", "color:lightgray; font-size:20px;");
					var mb = '<span class="input-group-addon" id="minus-button-'+i+'" onclick="less('+i+')" style="padding-left:15px; padding-right:13px;">&ndash;</span>';
					var food_item = '<div class="input-group">'+mb+'<input class="foods'+i+' form-control" type="text" placeholder="Food Item '+i+'" '+
							'name="food'+i+'" style="width:126px; display:inline;">';
					var servings = '<input type="number" placeholder="Servings" id="servings'+i+'" class="form-control"\
							name="servings'+i+'" min="1" style="width:100px; display:inline;"></div> {{#if alt}}\
							<span style="color:gray; font-size:21px;" class="glyphicon glyphicon-remove" onclick="less()"></span> {{/if}}';
					document.getElementById(i).innerHTML = "<div style='margin-top:9px;'>" + food_item + servings + "</div>" +
							'<div id="'+(i+1)+'" style="display:none;"></div>';
					var id="servings"+i;
					$("#"+i).fadeIn();
					$(".foods"+i).autocomplete({source: availableFoods});
					// why don't IDs work?
					$(".foods"+i).on("autocompletechange", function() { info("autocomplete change"); });
					$(".foods"+i).change(function() { window.alert("Please choose a matching food from the options presented."); });
					$("#servings"+i).change(function() { info("servings change"); });

					if(i > 2) {
						$("#minus-button-"+(i-1)).hide();
						$(".foods"+(i-1)).attr("style", "width:162px");
					}
					// todo: just hide informative alert

					break;
				}
		}
		
		function remove(i) {
			document.getElementById(i).innerHTML = "";
			info("item field "+(i-1)+" removed");
		}

		function less(i) {
			if (document.getElementById('4') != null)
				if (document.getElementById('4').innerHTML != "")
					$(".glyphicon-plus").attr("style", "color:gray; font-size:20px;");
			if(i > 2) {
				$(".foods"+(i-1)).attr("style", "width:126px");
				$("#minus-button-"+(i-1)).show();
			}
			remove(i);
			// else error

			// if (document.getElementById('4') != null) {
			// 	if (document.getElementById('4').innerHTML != "") {
			// 		remove(4);
			// 		$(".glyphicon-plus").attr("style", "color:gray; font-size:20px;");
			// 	} else remove(3);
			// } else if (document.getElementById('2').innerHTML != "") {
			// 	remove(2);
			// } // else error
		}

		var current = [0, 0, 0, 0];
		$(document).ready(function() {
			{{#if days}}
				{{#if days.length}}
					{{#each days}}
						if("{{date}}" == today()) {
							{{#each meals}}
								$.get("/data/nutrition/{{food1}}/{{servings1}}", update_progress);
								
								{{#if food2}}
									$.get("/data/nutrition/{{food1}}/{{servings1}}", update_progress);
								{{/if}}
								{{#if food3}}
									$.get("/data/nutrition/{{food1}}/{{servings1}}", update_progress);
								{{/if}}
								{{#if food4}}
									$.get("/data/nutrition/{{food1}}/{{servings1}}", update_progress);
								{{/if}}
							{{/each}}
						}
					{{/each}}
				{{else}}{{/if}}
			{{/if}}
		});

		function update_progress(result) {
			var reqs = [2000, 65, 50, 25];
			var nutrient = ["calories", "fat", "protein", "fiber"];

			var q = Number(result["servings"]);
			current[0] += q * Number(result["calories"]);
			current[1] += q * Number(result["total_fat"]);
			current[2] += q * Number(result["protein"]);
			current[3] += q * Number(result["dietary_fiber"]);

			for(i = 0; i < 4; i++) {
				var pc = Number((current[i]*100)/reqs[i]);
				var e = document.getElementById(nutrient[i]+"-done");
				e.setAttribute("style", "width:"+pc+"%; min-width:2em; max-width:92%;");
				e.innerHTML = parseInt(pc)+"%";
			}
		}

		// show reduced functionality popup? Nexus 5
		// dev: Safari compatibility
		function browserInfo() {
			var ua = navigator.userAgent, tem,
			M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
			if(/trident/i.test(M[1])) {
				tem =  /\brv[ :]+(\d+)/g.exec(ua) || [];
				return 'IE '+(tem[1] || '');
			}
			if(M[1] === 'Chrome') {
				tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
				if(tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
			}
			M = M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
			if((tem = ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
			return { 'browser': M[0], 'version': M[1] };
		}

		// option to override by choice?
		if(browserInfo().browser == "Safari") {
			$('#take-a-picture').hide();
			$('#live-video').hide();
		}

		var logged_in = false;
		{{#if guest}}
			$(".navbar-link").attr("href", "/welcome");
			document.getElementsByClassName("badge")[0].innerHTML = "Signup";
		{{else}}
			{{#if name}}
				logged_in = true;
				document.getElementsByClassName("badge")[0].innerHTML = "Logout";
				$(".navbar-link").attr("onclick", "logout()");
				$(".navbar-link").attr("href", "");
			{{/if}}
		{{/if}}

		function logout() {
			$.get("/data/logout", refresh());
			function refresh() {
				window.location.href = '/login';
				return false;
			}
		}
	</script>
	{{> google-analytics}}
</body>
</html>
