<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
		Suggested Foods
	{{> navbar-hack}}

	<div class="container" align="center">

		<div id="location-message" style="display:none"></div>

		<br/>

		<div class="input-group">
			<input id="rest" type="text" class="form-control" aria-label="my location" placeholder="Choose a Restaurant">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="locate()">
					<span class="glyphicon glyphicon-map-marker"></span>
				</button>
			</span>
		</div>
		
		<div class="container-fluid" id="page" style="display:none;">
																	<!-- storytelling -->
			<h3 style="color:#8382BF; margin-bottom:1px;" id="conclusion"><!-- Not enough meal history. --></h3>
			<span style="color:gray">See suggested foods below.</span>
			<a onclick="source_suggestions()" style="color:black">Click for more!</a>
			<br/><br/>
			<div class="row" style="margin-left:10px;">
				<div onClick="toggle(1)">
					<div class="col-xs-5" id="card1" style="border: 4px solid lightgray;" align="center">
						<h4 id="food1-name"></h4>
						<input type="hidden" id="fi1" name="ignored" value="" form="addSuggestedMealForm" readonly>
						<!-- cap to 100%? -->
						<div id="explanation1A" style="margin-left:-10px; margin-right:-10px;"></div>
						<div class="progress" style="margin-bottom:5px" id="pb1A"> <span id="outside-metricA1">Metric A</span>
							<div id="food1-metricA" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;" style="display:inline;">0%
							</div>
						</div>
						<div id="explanation1B"></div>
						<div class="progress" style="margin-bottom:5px" id="pb1B"> <span id="outside-metricB1">Metric B</span>
							<div id="food1-metricB" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;">0%
							</div>
						</div>
					</div>
				</div>
				<div onClick="toggle(2)">
					<div class="col-xs-5" id="card2" style="border: 4px solid lightgray;" align="center">
						<h4 id="food2-name"></h4>
						<input type="hidden" id="fi2" name="ignored" value="" form="addSuggestedMealForm" readonly>
						<div id="explanation2A" style="margin-left:-10px; margin-right:-10px;"></div>
						<div class="progress" style="margin-bottom:5px" id="pb2A"> <span id="outside-metricA2">Metric A</span>
							<div id="food2-metricA" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;" style="display:inline;">0%
							</div>
						</div>
						<div id="explanation2B"></div>
						<div class="progress" style="margin-bottom:5px" id="pb2B"> <span id="outside-metricB2">Metric B</span>
							<div id="food2-metricB" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;">0%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="suggestions form-group" style="display:none;">
			<br/>
			<form id="addSuggestedMealForm" role="form" method="get" action="/history">
				<button type="button" class="btn btn-secondary" data-toggle="modal"
						id="asm-button">Add Suggested Meal</button>
			</form>
			<br/>
		</div>

		{{> icon-panel}}

		<!-- <div class="modal fade" id="popup" {{> popup}}
			Choose Restaurant
				</h4> </div> <div class="modal-body">
			There are multiple restaurants detected in the vicinity:
			<br/> <b>Rubio's, Panda Express</b>
			<br/><br/> Please choose which one you would like to eat at in the dropdown.
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}} -->

		<div class="modal fade" id="asm-popup" {{> popup}}
			Confirmation
				</h4> </div> <div class="modal-body">
			
			<!-- <label for="servings1" style="margin-bottom:-5px;"></label> -->
			Servings:
			<input form="addSuggestedMealForm" class="form-control" type="number" placeholder="Servings"
					name="servings1" min="1" style="width:120px; margin-bottom:10px; display:inline;" value="1">
			<br/>
			<!-- <label for="date" style="margin-bottom:-5px;"></label> -->
			Date of meal:
			<input form="addSuggestedMealForm" class="form-control" type="text" id="datepicker"
					placeholder="Date of Meal" name="date" style="width:120px; margin-bottom:10px; display:inline;">
			<br/>
			<!-- <label for="t" style="margin-bottom:-5px;"></label> -->
			Meal (by time):
			<select form="addSuggestedMealForm" id="mealtype"
					class="form-control" name="t" style="width:120px; display:inline; margin-buttom:-5px;">
				<option value="Breakfast" selected>Breakfast</option>
				<option value="Brunch">Brunch</option>
				<option value="Lunch">Lunch</option>
				<option value="Dinner">Dinner</option>
				<option value="Snack">Snack</option>
			</select>

				</div> <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				Change choice </button>
			<input type="submit" class="btn btn-primary" form="addSuggestedMealForm"
					id="submitBtn" value="Log this meal"> </input>
		</div></div></div></div>

	</div>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="js/common.js"></script>
	<script>
		$("#rest").autocomplete({source: ["Rubio's", "Panda Express"], minLength: 0}).focus(function() {
					$(this).trigger(jQuery.Event('keydown')); $(this).select();
				});
		$("#datepicker").attr("value", today());
		$("#datepicker").datepicker();

		var current = [0, 0, 0, 0, 0, 0];
		var p_level = 0, f_level = 0;
		$(document).ready(function() {
			{{#if days}}
				{{#if days.length}}
					{{#each days}}
						if("{{date}}" == today()) {
							{{#each meals}}
							{{#unless deleted}}
								$.get("/data/nutrition/{{food1}}/{{servings1}}", find_progress); current[5]++;
								
								{{#if food2}}
									$.get("/data/nutrition/{{food1}}/{{servings1}}", find_progress); current[5]++;
								{{/if}}
								{{#if food3}}
									$.get("/data/nutrition/{{food1}}/{{servings1}}", find_progress); current[5]++;
								{{/if}}
								{{#if food4}}
									$.get("/data/nutrition/{{food1}}/{{servings1}}", find_progress); current[5]++;
								{{/if}}
							{{/unless}}
							{{/each}}
						}
					{{/each}}
				{{else}}{{/if}}
			{{/if}}
		});

		function find_progress(result) {
			var reqs = [2000, 65, 50, 25];
			var nutrient = ["calories", "fat", "protein", "fiber"];

			var q = Number(result["servings"]);
			current[0] += q * Number(result["calories"]);
			current[1] += q * Number(result["total_fat"]);
			current[2] += q * Number(result["protein"]);
			current[3] += q * Number(result["dietary_fiber"]);
			current[4] += 1; // async, but doing it anyway

			if(current[4] == current[5]) { // all foods covered
				p_level = parseInt((current[2]*100)/reqs[2]);
				f_level = parseInt((current[3]*100)/reqs[3]);
				fat_level = parseInt((current[1]*100)/reqs[1]);
				cal_level = parseInt((current[0]*100)/reqs[0]);
			}
		}

		var reqs = [2000, 65, 50, 25]; var temp; // might not work as intended
		function update_suggestions(result) {
			document.getElementById("food1-name").innerHTML = result["name"];
			$("#fi1").attr("value", result["name"]);
			var fp = parseInt((result["total_fat"]*100)/reqs[1]); // fP?
			var p = parseInt((result["protein"]*100)/reqs[2]);
			var f = parseInt((result["dietary_fiber"]*100)/reqs[3]);
			var c = parseInt((result["calories"]*100)/reqs[0]);
			temp=fp+"% "+p+"% ";
			if(p_level < 25 && f_level < 40) {
				pb(p, "A", "Protein", 1);
				pb(f, "B", "Fiber", 1);
			} else if(f_level < 25 && p_level < 40) {
				pb(p, "A", "Fiber", 1);
				pb(f, "B", "Protein", 1);
			} else if(cal_level < 25 && fat_level < 40) {
				pb(c, "A", "Calories", 1);
				pb(fp, "B", "Fats", 1);
			} else if(fat_level < 25 && cal_level < 40) {
				pb(fp, "A", "Fats", 1);
				pb(c, "B", "Calories", 1);
			} else {
				pb(p, "A", "Protein", 1);
				pb(f, "B", "Fiber", 1);
			}
			// pb(p, "B", "Protein", 1);
			// pb(fp, "A", "Fat", 1);
			var re = $("#rest")[0].value;
			if (re == "Rubio's") re = "Rubios";
			$.get("/data/dishes/"+re, update2);
		}
		function update2(result) {
			if(result.name == $("#fi1").attr("value")) {
				var re = $("#rest")[0].value;
				if (re == "Rubio's") re = "Rubios";
				$.get("/data/dishes/"+re, update2);
				// assuming not skipped again
				console.log(result.name+" repeated, showing "+
						$("#fi2").attr("value")+" instead");
				return;
			}
			document.getElementById("food2-name").innerHTML = result["name"];
			$("#fi2").attr("value", result["name"]);
			var f = parseInt((result["dietary_fiber"]*100)/reqs[3]);
			var p = parseInt((result["protein"]*100)/reqs[2]);
			var fp = parseInt((result["total_fat"]*100)/reqs[1]); // fP?
			var c = parseInt((result["calories"]*100)/reqs[0]);
			// console.log(temp+f+"% "+p+"%");
			if(p_level < 25 && f_level < 40) {
				pb(p, "A", "Protein", 2);
				pb(f, "B", "Fiber", 2);
			} else if(f_level < 25 && p_level < 40) {
				pb(p, "A", "Fiber", 2);
				pb(f, "B", "Protein", 2);
			} else if(cal_level < 25 && fat_level < 40) {
				pb(c, "A", "Calories", 2);
				pb(fp, "B", "Fats", 2);
			} else if(fat_level < 25 && cal_level < 40) {
				pb(fp, "A", "Fats", 2);
				pb(c, "B", "Calories", 2);
			} else {
				pb(p, "A", "Protein", 2);
				pb(f, "B", "Fiber", 2);
			}
			// pb(f, "A", "Fiber", 2);
			// pb(p, "B", "Protein", 2); // 60.5% bug
		}
		function source_suggestions() {
			var re = $("#rest")[0].value;
			if (re == "Rubio's") re = "Rubios";
			for(w = 0; w<1000 && p_level == 0 && f_level == 0; w++);
			if(p_level < 25 && f_level < 40) {
				document.getElementById("conclusion").innerHTML = "You're low on <span style='font-style:italic;'>protein</span>."
				$.get("/data/dishes/"+re+"/lacking-protein", update_suggestions);
			} else if(f_level < 25 && p_level < 40) {
				document.getElementById("conclusion").innerHTML = "You're low on <span style='font-style:italic;'>fiber</span>."
				$.get("/data/dishes/"+re+"/lacking-fiber", update_suggestions);
			} else if(cal_level < 25 && fat_level < 40) {
				document.getElementById("conclusion").innerHTML = "You're low on <span style='font-style:italic;'>calories</span>."
				$.get("/data/dishes/"+re+"/lacking-calories", update_suggestions);
			} else if(fat_level < 25 && cal_level < 40) {
				document.getElementById("conclusion").innerHTML = "You're low on <span style='font-style:italic;'>fat</span>."
				$.get("/data/dishes/"+re+"/lacking-fat", update_suggestions);
			} else {
				document.getElementById("conclusion").innerHTML = "Not enough information to suggest something at this time."
				$.get("/data/dishes/"+re+"/anything", update_suggestions);
			}
		}
		$('#rest').on("autocompletechange", function() {
			$("#location-message").fadeOut();
			source_suggestions();
			$("#page").fadeIn();
			$(".suggestions").fadeIn();
		});

		// todo: doubled %??
		function pb(pc, metric, nutrient, c) {
			var high = 59, low = 29; // protein
			if (nutrient == "Fat") { high = 75; low = 30; }

			$("#pb"+c+metric).hide();
			var exp = "<i>Daily values <br/> <u>satisfied:</u></i> <br/>"+nutrient+": "+pc+"%";
			if(metric == "B")
				exp = nutrient+": "+pc+"%";
			document.getElementById("explanation"+c+metric).innerHTML = exp;

			if(pc > high) {
				document.getElementById("food"+c+"-metric"+metric).innerHTML = pc+"% "+nutrient;
				document.getElementById("outside-metric"+metric+c).innerHTML = "";
			} else if(pc < low) {
				document.getElementById("food"+c+"-metric"+metric).innerHTML = "";
				document.getElementById("outside-metric"+metric+c).innerHTML = pc+"% "+nutrient;
			} else {
				document.getElementById("food"+c+"-metric"+metric).innerHTML = pc+"%";
				document.getElementById("outside-metric"+metric+c).innerHTML = ""+nutrient;
			}

			document.getElementById("food"+c+"-metric"+metric).setAttribute("style", "width:"+pc+"%; min-width:1%; max-width:100%;");
		}

		// identify drinks and don't suggest them!

		function toggle(num) {
			ga("send","event","card","click",num);
			if(num == 2) {
				if (document.getElementById("fi2").name == "food1") {
					document.getElementById("card2").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi2").setAttribute("name","ignored");
					$("#asm-button").attr("style", "");
					$("#asm-button").attr("data-target", "");
				} else {
					document.getElementById("card2").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card1").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi2").setAttribute("name","food1");
					document.getElementById("fi1").setAttribute("name","ignored");
					$("#asm-button").attr("style", "background:white; border-color:blue;");
					$("#asm-button").attr("data-target", "#asm-popup");
				}
			} else {
				if (document.getElementById("fi1").name == "food1") {
					document.getElementById("card1").setAttribute("style","border: 4px solid lightgray");
					document.getElementById("fi1").setAttribute("name","ignored");
					$("#asm-button").attr("style", "");
					$("#asm-button").attr("data-target", "");
				} else {
					document.getElementById("card1").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card2").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi1").setAttribute("name","food1");
					document.getElementById("fi2").setAttribute("name","ignored");
					$("#asm-button").attr("style", "background:white; border-color:blue;");
					$("#asm-button").attr("data-target", "#asm-popup");
				}
			}
		}

		function locate() {
			$('#rest').val(""); // autofocus too?
			$('#rest').trigger(jQuery.Event('keydown'));
			// maybe: alert "box"
			document.getElementById("location-message").innerHTML = "<br/> There are multiple restaurants detected in the vicinity. Please choose where you would like to eat in the dropdown.";
			$("#location-message").fadeIn();
		}

		var logged_in = false;
		{{#if guest}}
			$(".navbar-link").attr("href", "/welcome");
			document.getElementsByClassName("badge")[0].innerHTML = "Signup";
		{{else}}
			{{#if name}}
				logged_in = true;
				document.getElementsByClassName("badge")[0].innerHTML = "Logout";
				$(".navbar-link").attr("onclick", "logout()");
				$(".navbar-link").attr("href", "");
			{{/if}}
		{{/if}}

		function logout() {
			$.get("/data/logout", refresh());
			function refresh() {
				window.location.href = '/login';
				return false;
			}
		}
	</script>
	{{> google-analytics}}
</body>
</html>
